@page
@model ProjectLibX.Pages.NotifyReturnModel
@{
}
<style>
    #pad{
        padding: 30px;
    }

    .cont {
        font-size: 80px;
        color: #ef1212;
    }

</style>

<body>
    <div class="cont">
        <i>Returned Securely !</i>

    </div>

    <i>Now it's your turn pls give Z+ security for books...</i>
    <br />
    <div id="pad">
        <a class="btn btn-outline-success" type="submit" asp-page="Index">Home</a>
    </div>
</body>

