@page 
@model ProjectLibX.Pages.NotifyModel
@{
}

<style>
   #pad{
       padding:30px;
   }
  .cont{
      font-size:80px;
        color: #2596be;
  }
    
</style>

<body>
    <div class="cont">
        <i>Successfully Registered !</i>
        
    </div>
    <i>Congrats You Saved Some Papers Today...Don't Worry Data Stored in LibX</i>

    <div id="pad">
        <a class="btn btn-outline-success" type="submit" asp-page="Index">Home</a>
    </div>

</body>

