@page
@model ProjectLibX.Pages.NotifyIssueModel
@{
}
<style>
    #pad{
        padding:30px;
    }
  .cont{
      font-size:80px;
        color: #25f120;
  }

</style>

<body>
    <div class="cont">
        <i>Book Issued Successfully !</i>

    </div>
    
    <i>Check the book and give instructions to the Student before handingover...</i>
    <br/>
    <div id="pad">
    <a class="btn btn-outline-success" type="submit" asp-page="Index" >Home</a>
    </div>
</body>
