@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<i>All the informations we collected is just for Library Record purpose . We won't use this data for any other purpose like Facebook does, So you can Trust LibX !</i>
